
/* TIMELINES */
.timelines a {
	
}

/* CLOCK */

.countdown {
	font-size: 80px;
	color: white;
	margin: 12px 0px 0px 0px;
	text-shadow: 2px 2px 4px #000000;
}
.release {
	font-size: 40px;
	color: white;
	margin: 0px;
	text-shadow: 2px 2px 4px #000000;
}

.timeuntil{
	padding: 70px;
	text-align: center;
	font-size: 40px;
	background-image: url("terraria.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
}

/* MAIN */

html {
	scroll-behavior: smooth;
}
body {
	background: #191919;
	font-family: 'Roboto', sans-serif;
	color: white;
	margin: 0px;
	padding: 0px;
}

/* BUTTONS */

button {
	border-radius: 3px;
	border: 3px solid #1D55B4;
	color: white;
	background-color: #1D55B4;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	margin: 0px 12px 0px 0px;
	width: 160px;
	height: 48px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}
button:hover {
	border: 3px solid #2390D3;
	background-color: #2390D3;
	cursor: pointer;
}

/* EXTRAS */

a {
	color: #00A7E3;
	text-decoration: none;
	font-size: 16px;
}
p {
	color: #CCCCCC;
	font-size: 16px;
}
iframe {
	border-radius: 15px;
}

/* SMALLER DISPLAYS */

@media (max-width: 700px) {
	img {
		height: 120px;
	}
}
@media (max-width: 500px) {
	img {
		height: 90px;
	}
	.countdown {
		font-size: 50px;
		color: white;
		margin: 12px 0px 0px 0px;
		text-shadow: 2px 2px 4px #000000;
	}
	.release {
		font-size: 20px;
		color: white;
		margin: 0px;
		text-shadow: 2px 2px 4px #000000;
	}
}