body {
    font-family: consolas;
    color: white;
    background: black;
    text-align: center;
    margin: 0;
    font-size: 36px;
    padding-top: 20%;
    vertical-align: middle;
}
input {
    background: black;
    color: white;
    font-family: consolas;
    font-size: 24px;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
input:focus {
    outline: none;
}
a {
    margin-left: 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.header {
    font-size: 24px;
}
.comment {
    font-size: 16px;
    font-style: italic;
    color: gray;
}