
/*
    plexion.dev — BETA STYLESHEET
    Last updated: 2103.8
*/

/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global style colours */

:root {
    --main-background: white;
    --secondary-background: #F7F4F4;
    --main-text: #141414;
    --secondary-text: #2D2D2D;
    --white-text: white;
    --black-text: #141414;
    --main-font: 'Roboto', Arial, Helvetica, sans-serif;
    --header-font: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
    --plexion-blue: #003BFF;
    --main-blue: #003AF8; /* Fully WCAG 2.0 Compliant - older colour shown above as plexion-blue */
    --secondary-blue: #0033DA;
    --raised-blue: #0560FF;
    --background-blue: #E6EFFF;
    --raised-background-blue: #D1E0F9;
    --optional: #C4962D;
    --warn: #B00020;
    --button-border: #E2E2E2;
}
.dark-mode {
    --main-background: #16161C;
    --secondary-background: #101016;
    --highlight-background: #1C1C23;
    --main-text: white;
    --secondary-text: #C9D1D1;
    --white-text: white;
    --main-blue: #0061FF;
    --secondary-blue: #004BEF;
    --raised-blue: #0C6DFF;
    --background-blue: #141E32;
    --raised-background-blue: #182338;
    --button-border: #27273D;
}

/* Hides all mobile-specific & removed features */

.project br {
    display: none;
}
.btnsep {
    display: none;
}
.navlink .material-icons {
    display: none;
}
.ie-alert {
    display: none;
}

.image-dark {
    display: none;
}

.dark-mode .image-light {
    display: none;
}
.dark-mode .image-dark {
    display: inherit;
}

/* Define key html variables */

html {
    scroll-behavior: smooth;
}

/* Main website fonts etc. */

*:focus {
    outline: none;
    filter: brightness(120%);
    background: var(--raised-background-blue);
    outline: 2px solid var(--main-text);
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
    font-family: var(--main-font);
    background: var(--main-background);
    color: var(--main-text);
}
a {
    text-decoration: none;
    color: var(--main-text);
    transition: 0.2s ease-in-out;
}
::select {
    background: var(--secondary-blue);
    color: var(--white-text);
}
::-moz-selection {
    background: var(--secondary-blue);
    color: var(--white-text);
}
strong,b {
    font-weight: 600;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--main-text);
    transition: 0.2s ease-in-out;
}

/* Main custom classes */

h1 {
    font-family: var(--header-font);
    color: var(--main-text);
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
}
h2 {
    font-family: var(--header-font);
    color: var(--main-text);
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out; 
}
h3 {
    font-family: var(--header-font);
    color: var(--main-text);
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out; 
}
.desc0 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--secondary-text);
    transition: 0.2s ease-in-out;
}
.desc1 {
    font-size: 16px;
    margin-bottom: 8px;
    color: var(--secondary-text);
    transition: 0.2s ease-in-out;
}
.overline {
    font-family: var(--main-font);
    color: var(--main-text);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.2s ease-in-out;
}
.main-background {
    background: var(--main-background);
}
.secondary-background {
    background: var(--secondary-background);
}
.secondary-text {
    color: var(--secondary-text);
}
.new {
    padding: 2px 4px;
    background: var(--optional);
    border-radius: 3px;
}

.introduction {
    padding: 80px 20px;
    text-align: center;
}
.big-intro {
    padding: 120px 20px;
}

.desc1 {
    font-size: 22px;
}
.quick-links li {
    margin: 10px 0;
}
.quick-link {
    font-size: 28px;
    text-decoration: none
}
.quick-link:after {
    font-family: 'Material Icons';
    content: "arrow_forward";
    transition: 0.2s ease-in-out;
    font-weight: normal;
    font-style: normal;
    font-size: 32px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
    padding-bottom: 3px;
    margin-left: 10px;
    text-decoration: none;
    color: var(--main-text);
}
.quick-link:hover {
    background: var(--main-text);
    color: var(--main-background);
}
.quick-link:hover:after {
    margin-left: 15px;
    color: var(--main-background);
}
.small-link {
    font-size: 18px;
}
.small-link:after {
    font-size: 24px;
    margin-left: 5px;
}
.small-link:hover:after {
    margin-left: 10px;
}

.footer-links {
    display: flex;
}
.footer-link {
    width: 400px;
}

.descriptions {
    display: grid;
    justify-content: center;
    align-content: center;
    transition: 0.2s ease-in-out;
}
.description {
    padding: 20px;
    display: flex;
    transition: 0.2s ease-in-out;
}
.description-badge {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
}
.description-badge i {
    font-size: 64px;
    justify-self: center;
    align-self: center;
    padding: 10px;
    transition: 0.2s ease-in-out;
}
.desc-left {
    text-align: left;
}
.desc-right {
    text-align: right;
    display: flex;
    padding-left: 10%;
}
.desc-right .description-text {
    text-align: right;
}
.description-text {
    max-width: 900px;
}



.big {
    font-weight: 600;
    font-size: 32px;
    font-family: var(--header-font);
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
}
.big1 {
    font-weight: 600;
    font-size: 48px;
    font-family: var(--header-font);
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
}
.big2 {
    font-weight: 600;
    font-size: 26px;
    font-family: var(--header-font);
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
}
.channel-section .big2 {
    font-size: 20px;
    font-weight: 500;
}
.big2 .material-icons {
    margin-right: 10px;
}
.big3 {
    font-weight: 500;
    font-size: 20px;
    margin: 5px 0 5px 0;
    font-family: var(--header-font);
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
}
.desc {
    font-size: 16px;
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
}
.sectiondesc {
    font-size: 16px;
    margin: 0;
    font-family: var(--main-font);
    transition: 0.2s ease-in-out;
}
.channel-divider {
    margin: 0;
    border-bottom: 1px solid var(--button-border);
    padding: 0;
    transition: 0.2s ease-in-out;
}
.head {
    text-decoration: none;
    font-weight: 500;
    font-size: 26px;
    font-family: var(--header-font);
    transition: 0.2s ease-in-out;
    margin: 0;
    padding: 0;
}
.year {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    font-family: var(--header-font);
    transition: 0.2s ease-in-out;
    margin: 10px;
    padding: 0;
}
.google-search {
    transition: 0.2s ease-in-out;
    margin-left: 25%;
    margin-right: 25%;
}
.headlink {
    font-weight: 400;
    transition: 0.2s ease-in-out;
}
.headlink:hover {
    font-weight: 500;
}
.section {
    text-align: center;
    padding: 30px;
    transition: 0.2s ease-in-out;
}
.table-of-contents {
    padding: 90px 250px;
    margin: 30px 0;
    display: flex;
    transition: 0.2s ease-in-out;
}
.text {
    padding: 20px;
}
.image {
    display: flex;
    margin-left: auto;
    border-radius: 10px;
}
.image img {
    border-radius: 10px;
}
.choose-a-video {
    background: url("videos.png");
	background-repeat: repeat;
	background-size: cover;
    background-position: center;
}
.dark-mode .choose-a-video {
    background: url("videos-dark.png");
	background-repeat: repeat;
	background-size: cover;
    background-position: center;
}
.updated {
    background: url("newinvortex.png");
	background-repeat: repeat;
	background-size: cover;
    background-position: center;
}
.updated-background {
    background: #62EA27;
}
.updated-background .info-tile {
    border-color: #2B6B0B;
}

.padded {
    padding-top: 150px;
    padding-bottom: 150px;
}
.shadow p {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.whitetext p {
    color: var(--white-text);
}

.section .big2,.sectiondesc {
    padding: 3px 0 0 0;
    margin: 0;
}
.navlink i {
    font-style: normal;
}
.navlink .fas {
    font-size: 20px;
}
.theme {
    text-align: right;
}

#topic {
    padding: 120px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    color: var(--white-text);
}
#topic .button {
    text-shadow: none;
}

.watch {
    position: relative;
    width: 100%;
    /*padding-bottom: 56.25%;*/
    border-radius: 0;
}
.watchdiv {
    margin-left: 25%;
    margin-right: 25%;
}
.watch iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.watch2 {
    position: relative;
    padding-bottom: 56.25%;
}
.watch2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
    margin: 0;
}
.watch2 iframe:hover {
    filter: brightness(110%);
}
.video-tile {
    width: 300px;
    display: block;
}
.watch3 {
    position: relative;
    padding-bottom: 56.25%;
}
.watch3 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
    transition: 0.1s ease-in-out;
    border: 0 solid;
    transform: scale(1.0);
    margin: 0;
}

.videofeedinline {
    justify-items: center;
}
.video-thumbnail {
    width: 300px;
    margin: 0;
}
.video-info {
    padding-top: 10px;
    padding-bottom: 10px;
}
.video-tile {
    margin: 10px;
}
.video-tile p {
    text-align: center;
}
.video-title {
    font-family: var(--header-font);
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
    padding: 0;
}
.video-desc {
    font-family: var(--header-font);
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
    padding: 0;
    color: #333333;
}

/* Info tiles */

.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 15px;
    transition: 0.2s ease-in-out;
    padding: 15px;
}
.info-tile {
    transition: 0.2s ease-in-out;
    padding: 0;
    border-radius: 10px;
    position: relative;
    bottom: 0;
    display: block;
    overflow: hidden;
    border: 1px solid var(--button-border);
    text-align: left;
}
.card-padding {
    padding: 20px;
}
.info-tile .button {
    opacity: 0.5;
}
.info-tile:hover {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.08);
    position: relative;
    bottom: 5px;
    cursor: pointer;
}
.info-tile:hover .button {
    opacity: 1.0;
}
.dark-mode .info-tile:hover {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
}
.tile-head {
    font-family: var(--header-font);
    color: var(--main-text);
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
}
.tile-desc {
    font-family: var(--main-font);
    color: var(--main-text);
    font-size: 18px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
    transition: 0.2s ease-in-out;
}
.tile-date {
    font-family: var(--main-font);
    color: var(--main-text);
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 5px 0;
    transition: 0.2s ease-in-out;
}
.tile-image {
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: 0.2s ease-in-out;
}
.tile-image img {
    width: 100%;
}
.white-text {
    color: white;
}
.black-text {
    color: var(--black-text);
}
.shadow-text {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/* Cards */

.card {
    background: var(--secondary-background);
}

/* Buttons */

input {
    background: var(--main-background);
    border: 1px solid var(--button-border);
    border-radius: 5px;
    padding: 8px 22px;
    font-family: var(--header-font);
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    color: var(--main-text);
}
input:focus {
    background: var(--secondary-background);
    color: var(--main-text);
    outline: none;
}
.button {
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    padding: 8px 22px 8px 22px;
    background: transparent;
    color: var(--main-blue);
    text-decoration: none;
    font-family: var(--header-font);
    font-size: 16px;
    font-weight: 500;
    filter: brightness(100%);
    margin: 10px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    bottom: 0;
    text-align: center;
}
.tile-browse {
    margin-left: 0;
}
.button a {
    margin-bottom: 100px;
}
.button i {
    margin-left: 20px;
    font-size: 16px;
}
.button:hover {
    color: var(--main-blue);
    background: var(--background-blue);
    font-weight: 500;
    text-decoration: none;
}
.dark-mode .button {
    color: var(--raised-blue);
}
.dark-mode .button:hover {
    color: var(--raised-blue);
}
.dark-mode .important {
    color: var(--white-text);
}
.dark-mode .important:hover {
    color: var(--white-text);
}
.icon-button {
    transition: 0.2s ease-in-out;
    border-radius: 50%;
    padding: 8px;
    background: transparent;
    color: var(--main-blue);
    text-decoration: none;
    font-family: var(--header-font);
    font-size: 16px;
    font-weight: 500;
    filter: brightness(100%);
    margin: 0 10px 0 10px;
    line-height: 44px;
    text-transform: uppercase;
}
.icon-button:hover {
    color: var(--main-blue);
    background: var(--background-blue);
    font-weight: 500;
}
.url {
    background: var(--main-background);
    font-family: 'Roboto Mono', Consolas, var(--main-font);
    font-size: 15px;
    font-weight: 400;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    color:var(--main-text);
    line-height: 26px;
    transition: 0.2s ease-in-out;
}
.share-url .url {
    opacity: 0;
}
.share-url:hover .url {
    opacity: 1.0;
    margin-left: 10px;
    margin-right: 10px;
}
.share-url:hover .icon-button {
    color: var(--main-blue);
    background: var(--background-blue);
    font-weight: 500;
}
.share-url:hover .subscribe2 {
    background: #F2DDDD;
    color: #E01818;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltip-text {
    visibility: hidden;
    background-color: rgba(0,0,0,.5);
    font-family: var(--main-font);
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding: 6px 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    opacity: 0;
    transition: 0.2s ease-in-out;
    left: 0;
    backdrop-filter: saturate(180%) blur(10px);
    color: var(--white-text);
}
.dark-mode .tooltip .tooltip-text {
    background-color: rgba(255,255,255,.5);
    color: #141414;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    top: 110%;
    opacity: 1;
}
.navlink-tooltip .tooltip-text {
    top: 140%;
}
.navlink-tooltip:hover .tooltip-text {
    top: 150%;
}
.videofeed-tooltip .tooltip-text {
    top: 3%;
    font-size: 20px;
    text-align: left;
}
.videofeed-tooltip:hover .tooltip-text {
    top: 1%;
}
.dropdown {
    margin: 0 10px 0 10px;
}
.dropdown:hover .button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 40px;
    color: var(--secondary-blue);
    background: var(--background-blue);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
}
.dark-mode .dropdown:hover .button {
    color: var(--white-text);
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 5;
    width: 100%;
    opacity: 0.0;
    margin: 0;
    padding: 0;
}
.dropdown:hover .dropdown-content {
    opacity: 1.0;
    display: block;
}
.dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--secondary-blue);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
}
.dropdown-content a {
    font-family: var(--header-font);
    background: var(--background-blue);
    color: var(--secondary-blue);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 22px 8px 22px;
    margin: 0;
    text-align: left;
}
.dark-mode .dropdown-content a {
    color: var(--white-text);
}
.dropdown-content a:hover {
    background: var(--raised-background-blue);
}
.important {
    background: var(--main-blue);
    color: var(--white-text);
}
.important:hover {
    background: var(--raised-blue);
    color: var(--white-text);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    position: relative;
    bottom: 2px;
}
.dark-mode .important:hover {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
}
.disabled {
    background: var(--warn);
    color: var(--white-text);
}
.disabled:hover {
    background: var(--warn);
    color: var(--white-text);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    position: relative;
    bottom: 2px;
    cursor: not-allowed;
}
.dark-mode .disabled {
    color: var(--main-text);
}
.dark-mode .disabled:hover {
    color: var(--main-text);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
}
.drop-button {
    margin: 0;
}
.drop-button:after {
    font-family: 'Material Icons';
    content: "arrow_drop_down";
    transition: 0.2s ease-in-out;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 3px;
    margin-left: 10px;
    text-decoration: none;
}
.dropdown:hover .drop-button:after {
    -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.con:after {
    font-family: 'Material Icons';
    content: "arrow_forward";
    transition: 0.2s ease-in-out;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 3px;
    margin-left: 10px;
    text-decoration: none;
}
.disabled:after {
    font-family: 'Material Icons';
    content: "error";
    transition: 0.2s ease-in-out;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 3px;
    margin-left: 10px;
    text-decoration: none;
}
.ext:after {
    font-family: 'Material Icons';
    content: "open_in_new";
    transition: 0.2s ease-in-out;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 3px;
    margin-left: 10px;
    text-decoration: none;
}
.rewindbutton {
    background: #AD296D;
    border: 2px solid #AD296D;
}
.important:hover {
    color: #F7F7F7;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 10px;
}
.dropdown-content a {
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 36px;
}
.subscribe {
    color: var(--white-text);
    background: #CC0000;
}
.subscribe:hover {
    background: #E01818;
}
.subscribe2 {
    color: #E01818;
}
.subscribe2:hover {
    background: #F2DDDD;
    color: #E01818;
}
.dark-mode .subscribe2 {
    color: #E01818;
}
.dark-mode .subscribe2:hover {
    background: #2F1B21;
    color: #E01818;
}
.channel-embed {
    background: var(--secondary-background);
    border-top: 1px solid var(--button-border);
    border-bottom: 1px solid var(--button-border);
    display: flex;
    padding: 20px;
    transition: 0.2s ease-in-out;
    flex-wrap: wrap;
}
.channel-info {
    vertical-align: center;
    max-width: 600px;
}
.channel-info .channel-name {
    font-family: var(--header-font);
    font-weight: 600;
    font-size: 32px;
    margin: 5px 10px 0 10px;
    transition: 0.2s ease-in-out;
}
.channel-info .channel-desc {
    font-family: var(--main-font);
    font-size: 16px;
    margin: 5px 10px 2px 10px;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
}
.channel-pfp img {
    width: 128px;
    border-radius: 50%;
    background-color: var(--main-background);
    transition: 0.2s ease-in-out;
}
.channel-section {
    padding: 20px;
}
.line-break {
    width: 100%;
}
.channel-buttons {
    padding: 0 10px 10px 128px;
}

/* channel-timeline */

/* The actual timeline (the vertical ruler) */
.channel-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}
  

  
/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    transition: 0.2s ease-in-out;
}
  

  
  /* Place the container to the left */
.left {
    right: 7.05%;
}
  
  /* Place the container to the right */
.right {
    left: 50.4%;
}
  
  /* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}
  
  /* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}


/* Website header */

.banner {
    padding: 180px 30px 180px 30px;
    font-family: var(--header-font);
    font-size: 20px;
    line-height: 30px;
    background: url("banners/Dragon.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: 100%;
    background-position: center;
    transition: 0.2s ease-in-out;
}
.plexion-banner {
    background: url("banners/March.png"),url("error.png");
    background-repeat: no-repeat, repeat;
	background-size: 100%;
    background-position: center;
}
.plexionGOLD-banner {
    background: url("banners/Gold.png"),url("error.png");
    background-repeat: no-repeat, repeat;
	background-size: 100%;
    background-position: center;
}
.plexionVODS-banner {
    background: url("banners/Vods.png"),url("error.png");
    background-repeat: no-repeat, repeat;
	background-size: 100%;
    background-position: center;
}
.osuplexion-banner {
    background: url("banners/osu!.png"),url("error.png");
    background-repeat: no-repeat, repeat;
	background-size: 100%;
    background-position: center;
}
.social-banner {
    padding: 140px 30px 140px 30px;
    font-family: var(--header-font);
    font-size: 20px;
    line-height: 30px;
    background: url("banners/Screenshot_980.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: 100%;
    background-position: center;
    transition: 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    color: var(--white-text);
    backdrop-filter: blur(10px);
}
.banner a {
    text-decoration: none;
    color: var(--white-text);
}
header {
    background: var(--main-background);
    color: var(--main-text);
    font-family: var(--header-font);
    transition: 0.2s ease-in-out;
    position: sticky;
    top: 0;
    z-index: 100;
    /*display: none;*/
    padding: 10px;
    border-bottom: 1px solid var(--main-background);
}
.scrolled-header {
    border-bottom: 1px solid var(--button-border);
}
.brand {
    font-size: 18px;
    font-weight: 600;
    padding: 3px 9px 3px 9px;
    color: var(--main-text);
    transition: 0.2s ease-in-out;
    /*border: 2px solid currentColor*/
}
.h-dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.h-dropdown .navlink {
    width: 100%;
}
.h-dropdown-content {
    display: none;
    position: absolute;
    opacity: 0.0;
    top: 37px;
    z-index: 5;
    transition: 0.2s ease-in-out;
}
.h-dropdown-content a {
    display: block;
}
.h-dropdown:hover .h-dropdown-content {
    display: block;
    opacity: 1.0;
}
.h-dropdown:hover .navlink {
    background: var(--background-blue);
    color: var(--main-text);
}
.h-dropdown-content ul {
    list-style: none;
    margin: 0 10px 0 10px;
    padding: 0;
    background: var(--main-background);
    border: 1px solid var(--button-border);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.h-dropdown-content a {
    font-family: var(--header-font);
    color: var(--main-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    padding: 3px;
    margin: 0;
    border-radius: 0;
}
.h-dropdown-content li a {
    margin: 0;
    padding: 10px 15px 10px 15px;
}
.h-dropdown-content a:hover {
    background: var(--background-blue);
    color: var(--main-text);
    border: none;
}
.material-icons {
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 3px;
    cursor: default;
    text-decoration: none;
    color: var(--main-text);
    transition: 0.2s ease-in-out;
}
.inner-header {
    display: flex;
}
.logo {
    width: 25%;
}
.logo2 {
    width: 25%;
}
.logo a {
    text-decoration: none;
}
.navigation-toggles {
    width: 10%;
    position: sticky;
    left: 0;
    top: 16px;
    z-index: 101;
    height: 51px;
}
.button-toggle:before {
    font-family: 'Material Icons';
    content: "dark_mode";
    transition: 0.2s ease-in-out;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 3px;
    color: var(--main-text);
}
.dark-mode .button-toggle:before {
    content: "light_mode";
    color: var(--main-text);
}
.navigation .navlink {
    text-decoration: none;
    padding: 13px 20px 13px 20px;
    margin: 0 10px 0 10px;
    transition: 0.2s ease-in-out;
    height: 100%;
    font-weight: 500;
    text-transform: capitalize;
}
.navigation .navlink:hover {
    background: var(--background-blue);
    font-weight: 500;
    cursor: pointer;
}
.navigation .active {
    border-bottom: 2px solid var(--main-blue);
    padding-bottom: 11px;
    color: var(--main-blue);
}
.navigation a:hover .materialicons {
    font-weight: normal;
}
.header-mobile {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: var(--header-font);
    font-size: 20px;
    background-position: top;
    padding-left: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.header-mobile a {
    text-decoration: none;
    color: var(--main-text);
}
.header-mobile i {
    padding-left: 5px;
    font-size: 24px;
}
#logo {
    padding-right: 20px;
    font-family: var(--header-font);
    font-weight: 600;
    font-size: 24px;
    text-shadow: -2.5px 2.5px 0px var(--main-blue);
    color: white;
}
.nav {
    padding-right: 10px;
    transition: 0.1s;
}
.nav i {
    font-size: 16px;
    padding-left: 5px;
}
.nav:hover {
    font-weight: 600;
    color: var(--white-text);
    text-shadow: -2.5px 2.5px 0px var(--main-blue);
    /* text-shadow: -2px 2px 0px rgba(0, 59, 255, 1); */
}

/* Extras */

.moment .head {
    padding: 10px 0 10px 0;
}
.video iframe {
    transition: 0.1s ease-in-out;
    filter: brightness(100%);
}
.video iframe:hover {
    filter: brightness(110%);
}
.video img {
    transition: 0.1s ease-in-out;
    width: 100%;
    opacity: 0.75;
}
.video img:hover {
    filter: saturate(1.20) brightness(1.2);
    opacity: 1.0;
}
.page-full {
    margin-top: 25%;
}

/* Website footer */

.links {
    padding-bottom: 20px;
}
footer {
    padding: 90px 150px;
    transition: 0.2s ease-in-out;
    background: var(--secondary-background);
    margin-top: 20px;
}
footer i {
    margin-right: 5px;
    -webkit-transition: -webkit-transform .4s ease-in-out;
          transition:         transform .4s ease-in-out;
}
footer span {
    padding-left: 10px;
    padding-right: 10px;
}
footer .brand {
    margin: 0 0 20px 0;
    padding: 0;
}

/* MINECRAFT LIVE COUNTDOWN */

.countdown {
    font-size: 400%;
}
.event {
    height: calc(100vh);
}

/* Channel history (#timeline) */

.timeline {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 10px;
    transition: 0.2s ease-in-out;
    margin: 10px;
}
.moment {
    background: var(--secondary-background);
    color: var(--main-text);
    padding: 30px;
    border-radius: 10px;
    filter: brightness(100%);
    justify-self: stretch;
    text-align: center;
    position: relative;
    bottom: 0;
    transition: 0.2s ease-in-out;
}
.moment:hover {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    position: relative;
    bottom: 5px;
    z-index: 10;
}
.dark-mode .moment:hover {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.50);
}
.videofeed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    transition: 0.2s ease-in-out;
    padding: 0 20px 20px 20px;
}
.videofeedinline {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    transition: 0.2s ease-in-out;
    margin: 10px;
}
.video {
    background: var(--secondary-background);
    color: var(--main-text);
    padding: 0;
    border-radius: 0;
    transition: 0.2s ease-in-out;
    filter: brightness(100%);
    justify-self: stretch;
}
.preview-img {
    margin: 20px;
    border-radius: 5px;
}

/* Website projects */

.videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: 0;
    transition: 0.2s ease-in-out;
    margin: 0;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 15px;
    transition: 0.2s ease-in-out;
    margin: 15px;
}
.project {
    background: var(--secondary-background);
    color: var(--white-text);
    border: 0px solid var(--main-background);
    padding: 70px 30px 70px 30px;
    border-radius: 10px;
    transition: 0.15s ease-in-out;
    filter: brightness(100%);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    height: 230px;
    transform: scale(1.0);
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
     -ms-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
         transition: all 0.15s ease-in-out;
    text-decoration: none;
}
.project-info {
    height: 0;
    opacity: 0.0;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}
.project:hover .project-info {
    height: 100px;
    opacity: 1.0;
}
.unsupported-project {
    border: 3px solid #FF9300;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.dark-mode .unsupported-project {
    opacity: 0.5;
}
.project p {
    padding: 5px 0 0 0;
    margin: 5px 0 5px 0;
    color: white;
}
.project:hover {
    filter: brightness(110%);
    /*padding: 80px 30px 80px 30px;*/
    /*-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);*/
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    border: 3px solid;
    transform: scale(1.025);
    z-index: 10;
}
.dark-mode .project:hover {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.50);
}
.project a {
    color: var(--white-text);
    line-height: 24px;
    vertical-align: middle;
    font-weight: 500;
    transition: 0.15s ease-in-out;
}
.project a:hover {
    text-decoration: none;
    border-bottom: 3px solid var(--white-text);
}
.pfp {
    width: 40px;
    margin: 0 5px 0 0;
    padding: 0;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
}
.project .pfp {
    width: 40px;
    margin: 0 2px 0 0;
    padding: 0;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.project .square {
    border-radius: 25%;
}
.section .pfp {
    width: 32px;
    padding: 0;
    border-radius: 50%;
    position: relative;
    top: 5px;
}
.unsupported {
    position: relative;
    top: 3px;
    background:#291700;
    font-size: 18px;
    color: #FF9300;
    padding: 8px;
    margin-right: 10px;
    border-radius: 50%;
}
.ie-alert {
    background: var(--secondary-background);
    padding: 10px;
    border-radius: 10px;
    color: black;
    margin-bottom: 20px;
}
.tilebadge {
    vertical-align: center;
    padding: 10px;
    background: white;
    color: #1EBBEE;
    border-radius: 50%;
    margin: 10px;
    height: 28px;
}
.tilebadge i {
    font-size: 48px;
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.tilehead {
    font-family: var(--header-font);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.tiledesc {
    margin: 0;
    padding: 0;
}
.tilebrowsers {
    /*display: flex;*/
    display: none;
    flex-direction: row;
    justify-content: center;
}
.tilebrowsers i {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}

/* Website colours */

#rewind {
    background: url("tiles/plexion-rewind.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#rewind-2019 {
    background: url("tiles/rewind-2019.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#plexion {
    background: url("tiles/plexion.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#plexionDev {
    background: url("tiles/plexionDev.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#plexionVODS {
    background: url("tiles/plexionvods.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#osuplexion {
    background: url("tiles/osuplexion.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#plexmas-2019 {
    background: url("tiles/plexmas-2019.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#youtube {
    background: url("tiles/youtube.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#twitter {
    background: url("tiles/twitter.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#twitch {
    background: url("tiles/twitch.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#github {
    background: url("tiles/github.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#pmc {
    background: url("tiles/PMC.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#plexfonts {
    background: url("tiles/plexfonts.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#voidrising {
    background: url("tiles/voidrising.png"),url("error.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}
#uhc {
    background: url("tiles/uhc.png"),url("error.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}
#plextra {
    background: url("tiles/plextra.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#plexionMUSIC {
    background: url("tiles/plexionMUSIC.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#plexionGOLD {
    background: url("tiles/plexionGOLD.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#LetsTalk {
    background: url("tiles/LetsTalk.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#osuscratch {
    background: url("tiles/osu!scratch.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#towermage {
    background: url("tiles/towermage.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#aoth {
    background: url("tiles/aoth.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#mclive {
    background: url("tiles/mclive.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#terraria {
    background: url("tiles/terraria.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#vortexos {
    background: url("tiles/vortexos.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#plexnews {
    background: url("tiles/plexnews.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#gsot {
    background: url("tiles/gsot.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#hideandseek {
    background: url("tiles/hideandseek.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#darktheme {
    background: url("tiles/darktheme.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#simple-dark {
    background: url("tiles/simple-dark.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#skyplex {
    background: url("tiles/skyplex.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#antivirus {
    background: url("tiles/antivirus.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#corruption {
    background: url("tiles/corruption.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#spyglass {
    background: url("tiles/spyglass.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#mc4k {
    background: url("tiles/mc4k.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
#a {
    background: var(--main-background);
    color: #B00020;
    border: 3px solid currentColor;
}
.a {
    background: var(--main-background);
    color: #B00020;
    border: 3px solid currentColor;
}
.rewind {
    background: url("tiles/rewind.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
.rewindtopic {
    background: url("rewind.png"),url("error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
}
.rewind .button:hover {
    color: #F74FE3;
}

/* Global classes */

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

/* Website compatability (lower resolutions) */

@media (max-width: 1061px) {
    .info-tile .button {
        opacity: 1.0;
    }
}
@media (max-width: 1650px) {
    .table-of-contents {
        padding: 90px 120px;
    }
}
@media (max-width: 1500px) {
    .videofeed {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
    .watchdiv {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media (max-width: 1350px) {
    .channel-timeline::after {
        width: 0;
        display: none;
    }
    .container::after {
        width: 0;
        display: none;
    }
    .left {
        left: 0%;
        right: 0%;
    }
    .right {
        left: 0%;
        right: 0%;
    }
    .left::after, .right::after {
        left: 0%;
        right: 0%;
    }
    .container {
        width: auto;
    }
    .moment {
        margin-left: 15%;
        margin-right: 15%;
    }
    .banner {
        padding: 140px 30px 140px 30px;
    }
    .google-search {
        margin-left: 10%;
        margin-right: 10%;
    }
    .tile-image {
        height: 250px;
    }
    .table-of-contents {
        padding: 90px 30px;
    }
}
@media (max-width: 1262px) {
    .tiles {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
    .description {
        margin: 0 10px;
    }
    .table-of-contents {
        padding: 60px 30px;
        background: url("welcome.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .dark-mode .table-of-contents {
        padding: 60px 30px;
        background: url("welcomed.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .table-of-contents .image {
        display: none;
    }
}
@media (max-width: 1000px) {
    .moment {
        margin-left: 0;
        margin-right: 0;
    }
    .banner {
        padding: 100px 30px 100px 30px;
        background-size: 150%;
    }
    .channel-buttons {
        padding: 10px 10px 10px 128px;
    }
    .tile-image {
        height: 250px;
    }
    footer {
        padding: 90px;
    }
}
@media (max-width: 770px) {
    .channel-info {
        max-width: 400px;
    }
    .description {
        margin: 0 0;
        padding: 10px;
    }
    .description-badge {
        margin-left: 10px;
        margin-right: 10px;
    }
    .tile-image {
        height: 200px;
    }
    footer {
        padding: 30px;
    }
}
@media (max-width: 700px) {
    .logo {
        display: none;
    }
    .logo2 {
        display: none;
    }
    .navigation {
        width: 100%;
    }
    .logo a {
        text-decoration: none;
    }
    .navigation #hamburgertoggle {
        display: inline;
    }
    .channel-info .channel-name {
        font-size: 24px;
        margin: 6px 10px 2px 10px;
    }
    .channel-pfp img {
        width: 96px;
    }
    .channel-buttons {
        padding: 0 10px 10px 96px;
    }
    .share-url:before {
        display: block;
        white-space: pre;
        content: ' ';
    }
    .share-url .url {
        font-size: 13px;
    }
    .share-url:hover .url {
        margin: 0;
    }
    .google-search {
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media (max-width: 640px) {
    .timeline {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .videofeed {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .watchdiv {
        margin-left: 5%;
        margin-right: 5%;
    }
    .moment iframe {
        width: 100%;
    }
    .video iframe {
        width: 100%;
    }
    .header-mobile {
        display: inherit;
    }
    .hamburger {
        padding-left: 0;
    }
    .hamburger ul {
        text-align: center;
    }
    .section {
        text-align: center;
    }
    #topic {
        padding: 120px 30px 120px 30px;
    }
    .countdown {
        font-size: 300%;
        position: relative;
        top: 10px;
    }
    .btnsep {
        display: block;
        padding: 0;
        margin: 0;
    }
    .btnsep::before {
        white-space: pre;
        content: ' ';
    }
    .navigation {
        text-align: center;
        align-items: center;
    }
    .banner {
        padding: 100px 30px 100px 30px;
        background-size: 250%;
    }
    .channel-info .channel-name {
        font-size: 24px;
        margin: 0 10px 2px 10px;
    }
    .channel-pfp img {
        width: 64px;
    }
    .channel-buttons {
        padding: 0 10px 10px 64px;
    }
    .channel-embed {
        padding: 10px;
    }
    .channel-section {
        padding: 10px;
        text-align: center;
    }
    .videofeed {
        padding: 0 10px 10px 10px;
    }
    .tiles {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .description {
        padding: 5px;
    }
    .description-badge {
        margin-left: 5px;
        margin-right: 5px;
    }
    .table-of-contents {
        padding: 60px 10px;
    }
    .footer-links {
        display: inherit;
    }
}
@media (max-width: 500px) {
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 0px;
        margin: 0;
    }
    .project {
        text-align: center;
        border-radius: 0;
        width: 100%;
    }
    .tiles {
        padding: 15px 0;
    }
    .info-tile {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
    .tile-image {
        border-radius: 0;
    }
    .card-padding {
        padding: 20px 10px;
    }
    .tile-browse {
        margin-left: 0;
    }
    .moment {
        border-radius: 0;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .watchdiv {
        margin-left: 0;
        margin-right: 0;
    }
    .project:hover {
        border: 0 solid;
    }
    .timeline {
        grid-template-columns: repeat(auto-fit, 300px, 1fr);
        grid-gap: 0px;
        margin-left: 0;
        margin-right: 0;
    }
    .videofeed {
        grid-template-columns: repeat(auto-fit, 500px, 1fr);
        grid-gap: 0px;
        margin-left: 0;
        margin-right: 0;
    }
    .moment {
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .moment p {
        padding-left: 10px;
        padding-right: 10px;
    }
    .links {
        display: none;
    }
    .links-mobile {
        display: inherit;
    }
    .project br {
        display: inherit;
    }
    .unsupported {
        margin: 0 0 10px 0;
    }
    .navi {
        display: none;
    }
    .navlink .material-icons {
        display: inherit;
    }
    .navigation .navlink {
        padding: 12px 16px;
    }
    .navigation .navlink:hover {
        padding: 12px 16px;
    }
    .tile-image {
        height: 150px;
    }
    .button {
        padding-left: auto;
        padding-right: auto;
        display: block;
        margin: 10px 0;
    }
}
@media (max-width: 490px) {
    .channel-buttons {
        padding: 10px;
    }
    .channel-embed {
        justify-content: center;
    }
    .channel-info {
        text-align: center;
    }
}
@media (max-width: 410px) {
    .nav {
        font-size: 16px;
    }
    .big2 {
        font-size: 20px;
    }
    .countdown {
        font-size: 250%;
        position: relative;
        top: 16px;
    }
    .timeline {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
    .videofeed {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
    .watch2 {
        position: relative;
        padding-bottom: 56.25%;
        margin-bottom: 5px;
        width: 100%;
    }
    .watch2 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .navigation a:hover {
        padding-left: 20px;
        padding-right: 20px;
    }
    .google-search {
        margin-left: 0;
        margin-right: 0;
    }
    .description {
        padding: 10px;
        text-align: center;
    }
    .description-badge {
        display: none;
    }
    .table-of-contents {
        padding: 30px 0;
        margin: 0;
    }
}