
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

h2 {
	font-size: 32px;
}

:root {
	--primary-color: rgba(13, 110, 139, 0.75);
	--overlay-color: rgba(24, 39, 51, 0.85);
}

/* EXPERIMENTAL */

.news1 {
	color: #FF1200;
	font-size: 18px;
	margin-left: 100px;
	padding: 16px 0px 16px 50px;
	background: white;
	margin-right: 100px;
}
.news2 {
	padding: 16px 1044px 16px 10px;
	background: #FF1200;
	margin-left: 50px;
	color: white;
}

/* HAMBURGER MENU */

.hamburgermenu {
	display: none;
} 

/* HIDE SMALLER DISPLAY ITEMS */

.video2 {
	display: none;
}
.header-small {
	display: none;
}

/* MAIN */

html {
	scroll-behavior: smooth;
}
body {
	background: white;
	font-family: 'Inter', 'Roboto', sans-serif;
	color: #191919;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: #003BFF;
}
ul {
	list-style: none;
}

/* BUTTONS */

.btn {
	border-radius: 3px;
	border: 2px solid #003BFF;
	color: #003BFF;
	background-color: white;
	font-family: 'Inter', 'Roboto', sans-serif;
	padding: 10px;
	margin: 0px 12px 0px 0px;
	padding-left: 32px;
	padding-right: 32px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	transition: 0.3s;
}
.btn:hover {
	border: 2px solid #003BFF;
	background-color: #003BFF;
	color: white;
	cursor: pointer;
}
.buttonh {
	border-radius: 3px;
	border: 2px solid #003BFF;
	color: #003BFF;
	background-color: white;
	font-family: 'Inter', 'Roboto', sans-serif;
	padding: 10px;
	margin: 0px 12px 0px 0px;
	padding-left: 32px;
	padding-right: 32px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	position: absolute;
	right: 200px;
	transition: 0.3s;
}
.buttonh:hover {
	border: 2px solid #003BFF;
	background-color: #003BFF;
	color: white;
	cursor: pointer;
}
.celebration button {
	border-radius: 3px;
	border: 3px solid #DB74CB;
	color: white;
	background-color: #DB74CB;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	margin: 0px 12px 0px 0px;
	width: 160px;
	height: 48px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}
.celebration button:hover {
	border: 3px solid #DB9BCB;
	background-color: #DB9BCB;
	cursor: pointer;
}
button3 {
	border-radius: 0px;
	border: 3px solid rgb(253,193,221);
	color: black;
	background-color: rgb(254,230,224);
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	margin: 0px 12px 0px 0px;
	width: 170px;
	height: 50px;
	cursor: pointer;
}

/* SECTIONS */

.welcome {
	padding: 80px 0px 20px 0px;
	height: 320px;
}
.celebration {
	background: #C655B4;
	background-image: url("me2.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 80px 0px 20px 0px;
	height: 500px;
	color: white;
}
.welcome2 {
	background: #191919;
	padding: 80px 0px 20px 0px;
	height: 120px;
	color: white;
}
.video {
	height: 660px;
	color: white;
}
.header-transition {
	background: rgb(60, 60, 60);
	background-image: url("transition.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 20px 0px 20px 0px;
	height: 300px;
	color: black;
}
.transition {
	background: rgb(60, 60, 60);
	background-image: url("blue_transition.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 20px 0px 20px 0px;
	height: 300px;
	color: black;
}
.transition3 {
	background: rgb(60, 60, 60);
	background-image: url("pink_transition.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 20px 0px 20px 0px;
	height: 300px;
	color: black;
}
.transition4 {
	background: rgb(60, 60, 60);
	background-image: url("pink_transition2.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 20px 0px 20px 0px;
	height: 300px;
	color: black;
}
.footer2 {
	background: rgb(60, 60, 60);
	background-image: url("blue_transition2.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
}
.sayori {
	background: #F2F2F2;
	padding: 10px 0px 20px 0px;
	height: 200px;
	margin-left: 200px;
	margin-right: 200px;
}
.sayori img {
	float: left;
	padding-left: 200px;
}
.sayori h2 {
	float: centre;
}
.sayori p {
	float: centre;
}

/* EXTRAS */

.monika3 {
	background: rgb(60, 60, 60);
	background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 0px 0px 20px 0px;
	height: 300px;
}
.embedr {
  background-color: #1A1A1E;
  padding: 12px;
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  border-left-color: #FF2222;
  border-radius: 6px;
}
.title {
  font-weight: bold;
  font-size: 24px;
}
.field {
  color: #414141;
  font-size: 18px;
  font-weight: 450;
}
.fieldtext {
  font-size: 15px;
  color: #DDDDDD;
}
iframe {
	border-radius: 12px;
	padding: 5px 5px 3px 5px;
}
.header-up {
	background: black;
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 16px 36px 16px 36px;
	margin: 0px 0px 0px 0px;
}
.header {
	color: #191919;
	padding: 30px 24px 30px 200px;
	margin: 0px 0px 0px 0px;
	transition: 0.3s
}
.header h3 {
	color: #191919;
	display: inline;
	padding: 0px 24px 0px 0px;
	line-height: 18px;
}
.header img {
	display: inline;
	padding: 0px 32px 0px 0px;
	line-height: 18px;
}
h3 {
	color: white;
	display: inline;
	padding: 16px;
}
.header-up h3 {
	color: white;
	display: inline;
	padding: 2px;
}
h1 {
	font-size: 50px;
	padding: 60px 0px 0px 0px;
}
.welcome h1 {
	font-size: 50px;
	padding: 40px 0px 0px 0px;
}
img2 {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  padding: 0px 0px 0px 0px;
}
.header img {
	vertical-align: middle;
}
.more_info p {
	padding: 0px 0px 16px 0px;
	margin: 0px 0px 0px 0px;
}
p {
	color: #0A0A0A;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

/* MONIKA */

.monika {
	padding: 20px 10px 20px 10px;
	height: 400px;
	margin-left: 200px;
	margin-right: 200px;
}
.monika iframe {
	float: left;
	padding: 0px 40px 0px 180px;
}
.monika p {
	float: centre;
}
.monika h2 {
	float: centre;
	margin-top: 10px;
	margin-bottom: 10px;
}

.monika2 {
	padding: 20px 10px 20px 10px;
	height: 400px;
	margin-left: 200px;
	margin-right: 200px;
}
.monika2 iframe {
	float: right;
	padding: 0px 180px 0px 40px;
}
.monika2 p {
	float: centre;
	text-align: right;
}
.monika2 h2 {
	float: centre;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* NATSUKI */

.natsuki {
	background: #36393F;
	padding: 20px 0px 20px 0px;
	height: 600px;
}
.natsuki img {
	float: left;
	padding: 0px 40px 0px 280px;
}
.natsuki p {
	float: centre;
}
.natsuki h2 {
	float: centre;
}
.natsuki2 {
	background: #36393F;
	padding: 20px 0px 20px 0px;
	height: 600px;
}
.natsuki2 img {
	float: right;
	padding: 0px 280px 0px 40px;
}
.natsuki2 p {
	float: centre;
	text-align: right;
}
.natsuki2 h2 {
	float: centre;
	text-align: right;
}

/* SMALLER DISPLAY */

@media (max-width: 1500px) {
	.sayori {
		margin-left: 100px;
		margin-right: 100px;
	}
	.monika {
		margin-left: 100px;
		margin-right: 100px;
	}
	.monika iframe {
		float: left;
		padding: 0px 40px 0px 40px;
	}
	.monika2 {
		margin-left: 100px;
		margin-right: 100px;
	}
	.monika2 iframe {
		float: right;
		padding: 0px 40px 0px 40px;
	}
}
@media (max-width: 1100px) {
	.sayori {
		margin-left: 20px;
		margin-right: 20px;
	}
	.monika {
		margin-left: 0px;
		margin-right: 0px;
	}
	.monika iframe {
		float: left;
		padding: 0px 10px 0px 10px;
	}
	.monika2 {
		margin-left: 0px;
		margin-right: 0px;
	}
	.monika2 iframe {
		float: right;
		padding: 0px 10px 0px 10px;
	}
	.header {
		color: #191919;
		padding: 30px 24px 30px 100px;
		margin: 0px 0px 0px 0px;
	}
	.header h3 {
		color: #191919;
		display: inline;
		padding: 0px 24px 0px 0px;
		line-height: 18px;
	}
	.header img {
		display: inline;
		padding: 0px 32px 0px 0px;
		line-height: 18px;
	}
}
@media (max-width: 1060px) {
	.pre-footer a {
		margin-right: 50px;
	}
	.pre-footer {
		padding: 0px 0px 0px 50px;
	}
	.header {
		padding: 12px 24px 0px 50px;
		margin: 0px 0px 0px 0px;
		height: 30px;
	}
	.header h3 {
		padding: 0px 24px 0px 0px;
		line-height: 18px;
	}
	.header img {
		padding: 0px 32px 0px 0px;
		line-height: 18px;
	}
	.video {
		display: none;
	}
}
@media (max-width: 950px) {
	.sayori {
		margin-left: 20px;
		margin-right: 20px;
	}
	.monika {
		height: 150px;
	}
	.monika iframe {
		display: none;
	}
	.monika2 {
		height: 150px;
	}
	.monika2 iframe {
		display: none;
	}
	.header {
		color: #191919;
		padding: 30px 24px 30px 10px;
		margin: 0px 0px 0px 0px;
	}
	.header h3 {
		color: #191919;
		display: inline;
		padding: 0px 12px 0px 0px;
		line-height: 18px;
	}
	.header img {
		display: inline;
		padding: 0px 24px 0px 0px;
		line-height: 18px;
	}
}
}
@media (max-width: 800px) {
	.header-small {
		display: inline;
		height: 30px;
	}
	.header {
		display: none;
	}
}

/* FOOTER */

ufooter {
	background: #191919;
	padding: 10px;
}

.endingfooter {
	background: black;
	color: white;
	padding-left: 200px;
	padding-bottom: 40px;
	padding-right: 200px;
	padding-top: 40px;
}

.endingfooter h2 {
	font-size: 24px;
	padding: 0px 0px 0px 0px;
}
.endingfooter h3 {
	font-size: 16px;
	padding: 0px 0px 0px 0px;
}
.endingfooter a {
	font-size: 16px;
	padding: 0px 0px 0px 0px;
	color: white;
	text-decoration: underline;
}