
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

h2 {
	font-size: 32px;
}

:root {
	--primary-color: rgba(13, 110, 139, 0.75);
	--overlay-color: rgba(24, 39, 51, 0.85);
}

/* SMALLER DISPLAYS */

.header-mobile {
	display: none;
}
.video2 {
	display: none;
}

/* MAIN */

html {
	scroll-behavior: smooth;
}
body {
	background: black;
	font-family: 'Inter', 'Roboto', sans-serif;
	color: white;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: #003BFF;
}
ul {
	list-style: none;
}

/* BUTTONS */

.btn {
	border-radius: 3px;
	border: 2px solid #003BFF;
	color: #003BFF;
	background-color: white;
	font-family: 'Inter', 'Roboto', sans-serif;
	padding: 10px;
	margin: 0px 12px 0px 0px;
	padding-left: 32px;
	padding-right: 32px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	transition: 0.3s;
}
.btn:hover {
	border: 2px solid #003BFF;
	background-color: #003BFF;
	color: white;
	cursor: pointer;
}
.buttonh {
	border-radius: 3px;
	border: 2px solid #003BFF;
	color: #003BFF;
	background-color: white;
	font-family: 'Inter', 'Roboto', sans-serif;
	padding: 10px;
	margin: 0px 12px 0px 0px;
	padding-left: 32px;
	padding-right: 32px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	position: absolute;
	right: 200px;
	transition: 0.3s;
}
.buttonh:hover {
	border: 2px solid #003BFF;
	background-color: #003BFF;
	color: white;
	cursor: pointer;
}

/* GAMES */

.fullgame {
	margin: 20px 0px 20px 25%;
	border-radius: 10px;
	padding: 240px 20px 40px 20px;
	transition: 0.3s;
	display: block;
	width: 50%;
	border: 3px solid rgba(255,255,255,0.25);
}
.fullgame a {
	color: white;
	font-size: 12px;
}
#hideandseek {
	background: url("hideandseek.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
}
#plexion {
	background: url("plexion.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
}
#equton {
	background: url("equton.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
}
#troned {
	background: url("troned.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
}
#fireblaster5629 {
	background: url("fireblaster5629.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
}
#themaze {
	background: url("themaze.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
}
#energyepidemic {
	background: url("energyepidemic.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
}
#spleefchampions {
	background: url("spleefchampions.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	color: black;
}
.fullgame:hover {
	filter: brightness(60%);
	padding-top: 300px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.25);
	-moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.25);
	box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.25);
}
.fullcreator {
	margin: 20px 0px 20px 25%;
	border-radius: 10px;
	padding: 40px 20px 40px 20px;
	transition: 0.3s;
	display: block;
	width: 50%;
	border: 3px solid rgba(255,255,255,0.25);
}
.fullcreator a {
	color: white;
	font-size: 12px;
}
.fullcreator:hover {
	filter: brightness(60%);
	padding-top: 80px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.25);
	-moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.25);
	box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.25);
}

/* SECTIONS */

.welcome {
	padding: 80px 0px 20px 0px;
	height: 320px;
	transition: 0.3s;
}
td {
	padding-right: 20px;
	padding-bottom: 10px;
}
.description {
	opacity: 0.8;
}
.contact img {
	padding: 30px 0px 0px 0px;
	margin: 0px;
}
.contact h1 {
	padding: 0px 0px 5px 0px;
	margin: 0px;
}
.contact {
	height: 600px;
}
.header h3 {
	transition: 0.3s;
}
.header h3:hover {
	opacity: 0.8;
}
.video {
	height: 660px;
	color: white;
}
.sayori {
	background: #F2F2F2;
	padding: 10px 0px 20px 0px;
	height: 200px;
	margin-left: 200px;
	margin-right: 200px;
	transition: 0.3s;
}
.sayori img {
	float: left;
	padding-left: 200px;
}
.sayori h2 {
	float: centre;
}
.sayori p {
	float: centre;
}

/* EXTRAS */

iframe {
	border-radius: 12px;
	padding: 5px 5px 3px 5px;
}
#selected {
	text-decoration: underline;
}
.header {
	color: white;
	background: black;
	padding: 0px 24px 0px 0px;
	margin: 0px 0px 0px 0px;
	transition: 0.3s
}
.header-mobile img {
	width: 20%;
}
.header h3 {
	display: inline;
	padding: 0px 24px 0px 0px;
	line-height: 18px;
}
.header img {
	display: inline;
	padding: 0px 32px 0px 0px;
	line-height: 18px;
}
h3 {
	color: white;
	display: inline;
	padding: 16px;
}
h1 {
	font-size: 50px;
	padding: 60px 0px 0px 0px;
}
.welcome h1 {
	font-size: 50px;
	padding: 40px 0px 0px 0px;
}
img2 {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  padding: 0px 0px 0px 0px;
}
.header img {
	vertical-align: middle;
}
p {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

/* FOOTER */

.endingfooter {
	background: black;
	color: white;
	padding-left: 200px;
	padding-bottom: 40px;
	padding-right: 200px;
	padding-top: 40px;
}

.endingfooter h2 {
	font-size: 24px;
	padding: 0px 0px 0px 0px;
}
.endingfooter h3 {
	font-size: 16px;
	padding: 0px 0px 0px 0px;
}
.endingfooter a {
	font-size: 16px;
	padding: 0px 0px 0px 0px;
	color: white;
	text-decoration: underline;
}

/* SMALLER DISPLAY */

@media (max-width: 1800px) {
	.welcome {
		margin-left: 200px;
		padding-right: 600px;
	}
}
@media (max-width: 1200px) {
	.welcome {
		display: none;
	}
	.welcome2 {
		display: inherit;
	}
	.applications {
		display: none;
	}
	.applications2 {
		display: inherit;
	}
	#bigframe {
		display: none;
	}
	#smallframe {
		display: inherit;
	}
}
@media (max-width: 1000px) {
	.welcome2 {
		padding-left: 100px;
		padding-right: 100px;
	}
	.applications2 {
		padding-left: 100px;
		padding-right: 100px;
	}
	.fullgame {
		margin: 20px 0px 20px 0px;
		border-radius: 0px;
		padding: 240px 20px 40px 20px;
		transition: 0.3s;
		display: block;
		width: 100%;
		border: 0px solid rgba(255,255,255,0.25);
	}
	.fullgame p {
		padding-right: 40px;
	}
	.fullcreator {
		margin: 20px 0px 20px 0px;
		border-radius: 0px;
		padding: 40px 20px 40px 20px;
		transition: 0.3s;
		display: block;
		width: 100%;
		border: 0px solid rgba(255,255,255,0.25);
	}
	.fullcreator p {
		padding-right: 40px;
	}
}
@media (max-width: 900px) {
	.endingfooter {
		background: black;
		color: white;
		padding-left: 100px;
		padding-bottom: 40px;
		padding-right: 100px;
		padding-top: 40px;
	}
	.endingfooter h2 {
		font-size: 24px;
		padding: 0px 0px 0px 0px;
	}
	.endingfooter h3 {
		font-size: 16px;
		padding: 0px 0px 0px 0px;
	}
	.endingfooter a {
		font-size: 16px;
		padding: 0px 0px 0px 0px;
		color: white;
		text-decoration: underline;
	}
}
@media (max-width: 600px) {
	.header {
		color: white;
		background: black;
		padding: 0px 24px 0px 0px;
		margin: 0px 0px 0px 0px;
		transition: 0.3s
	}
	.header-mobile img {
		width: 20%;
	}
	.header h3 {
		display: inline;
		padding: 0px 12px 0px 0px;
		line-height: 18px;
	}
	.header img {
		display: inline;
		padding: 0px 12px 0px 0px;
		line-height: 18px;
		width: 70px;
	}
	.endingfooter {
		padding-left: 100px;
		padding-right: 100px;
	}
}
@media (max-width: 550px) {
	.endingfooter {
		background: black;
		color: white;
		padding-left: 30px;
		padding-bottom: 40px;
		padding-right: 30px;
		padding-top: 40px;
	}
	.endingfooter h2 {
		font-size: 24px;
		padding: 0px 0px 0px 0px;
	}
	.endingfooter h3 {
		font-size: 16px;
		padding: 0px 0px 0px 0px;
	}
	.endingfooter a {
		font-size: 16px;
		padding: 0px 0px 0px 0px;
		color: white;
		text-decoration: underline;
	}
}
@media (max-width: 580px) {
	.header {
		display: none;
	}
	.header-mobile {
		display: block;
	}
}

/* SMALLER DISPLAY */

@media (max-width: 1500px) {
	.sayori {
		margin-left: 100px;
		margin-right: 100px;
	}
	.monika {
		margin-left: 100px;
		margin-right: 100px;
	}
	.monika iframe {
		float: left;
		padding: 0px 40px 0px 40px;
	}
	.monika2 {
		margin-left: 100px;
		margin-right: 100px;
	}
	.monika2 iframe {
		float: right;
		padding: 0px 40px 0px 40px;
	}
}
@media (max-width: 1100px) {
	.sayori {
		margin-left: 20px;
		margin-right: 20px;
	}
	.monika {
		margin-left: 0px;
		margin-right: 0px;
	}
	.monika iframe {
		float: left;
		padding: 0px 10px 0px 10px;
	}
	.monika2 {
		margin-left: 0px;
		margin-right: 0px;
	}
	.monika2 iframe {
		float: right;
		padding: 0px 10px 0px 10px;
	}
}
@media (max-width: 1060px) {
	.video {
		display: none;
	}
}
@media (max-width: 950px) {
	.sayori {
		margin-left: 20px;
		margin-right: 20px;
	}
	.monika {
		height: 150px;
	}
	.monika iframe {
		display: none;
	}
	.monika2 {
		height: 150px;
	}
	.monika2 iframe {
		display: none;
	}
}