.welcome {
	background: rgb(60, 60, 60);
	background-image: url("skyisland.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 20px 0px 20px 0px;
	height: 400px;
	color: black;
}
.more_info {
	background: rgb(60, 60, 60);
	background-image: url("Notebook.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 20px 0px 20px 0px;
	height: 850px;
	color: black;
}
.sayori {
	background: rgb(60, 60, 60);
	background-image: url("fishing.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 20px 0px 20px 0px;
	height: 400px;
}
.monika {
	background: rgb(60, 60, 60);
	background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 0px 0px 20px 0px;
	height: 300px;
}
.enemies {
	background: rgb(60, 60, 60);
	background-image: url("mines.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 20px 0px 20px 0px;
	height: 400px;
}
body {
	background: rgb(60, 60, 60);
	font-family: 'Roboto', sans-serif;
	color: white;
	margin: 0px;
	padding: 0px;
}
button {
	border-radius: 5px;
	border: 3px solid rgb(109,163,77);
	color: white;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	margin: 0px 12px 0px 0px;
	width: 170px;
	height: 50px;
	cursor: pointer;
}
button:hover {
	border-radius: 5px;
	border: 2px solid rgb(109,163,77);
	color: white;
	background-color: rgb(109,163,77);
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	margin: 0px 12px 0px 0px;
	width: 170px;
	height: 50px;
	cursor: pointer;
}
.welcome button {
	border-radius: 5px;
	border: 3px solid rgb(109,163,77);
	color: white;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	margin: 0px 12px 0px 0px;
	width: 170px;
	height: 50px;
	cursor: pointer;
}
.welcome button:hover {
	border-radius: 5px;
	border: 2px solid rgb(109,163,77);
	color: white;
	background-color: rgb(109,163,77);
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	margin: 0px 12px 0px 0px;
	width: 170px;
	height: 50px;
	cursor: pointer;
}
iframe {
	border-radius: 15px;
	padding: 5px 5px 3px 5px;
}
.header {
	background: rgb(109,163,77);
	background-image: url("leaves2.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-position: center;
	padding: 16px 36px 16px 36px;
	margin: 0px 0px 0px 0px;
}
.header h3 {
	color: white;
	display: inline;
	padding: 16px;
	underline: false;
	margin: 0px 0px 16px 0px
}

footer {
	background: black;
	padding: 10px;
}

h3 {
	color: white;
	display: inline;
	padding: 16px;
	underline: false;
}
h1 {
	font-size: 50px;
	padding: 60px 0px 0px 0px;
}
.welcome h1 {
	font-size: 50px;
	padding: 40px 0px 0px 0px;
}
h2 {
	font-size: 32px;
}
img2 {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  padding: 0px 0px 0px 0px;
}
a {
	color: rgb(0,59,255);
	text-decoration: none;
}
.welcome a {
	color: rgb(0,59,255);
	text-decoration: none;
	color: black;
}
.more_info p {
	padding: 0px 0px 16px 0px;
	margin: 0px 0px 0px 0px;
}

