
/* plexion.online 2102.15 */

/* Based off of /help page */

/* Import fonts */

@font-face {
    font-family: 'minecraftia_2020regular';
    src: url('minecraftia-2020-webfont.woff2') format('woff2'),
         url('minecraftia-2020-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Global style colours */

:root {
    --main-blue: #003BFF;
    --secondary-blue: #0035E5;
    --raised-blue: #0560FF;
    --optional: #C4962D;
    --warn: #B00020;
    --background-blue: #E6EFFF;
    --raised-background-blue: #D1E0F9;
    --main-background: white;
    --secondary-background: #F7F4F4;
    --main-text: #141414;
    --white-text: white;
    --main-font: 'Inter', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    --header-font: 'Poppins', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    --button-border: #E2E2E2;
}
.dark-mode {
    --main-background: #16161C;
    --secondary-background: #1C1C23;
    --main-text: white;
    --white-text: white;
    --button-border: #1D1D2B;
    --main-blue: #0061FF;
    --secondary-blue: #004BEF;
    --raised-blue: #0C6DFF;
    --background-blue: #141E32;
    --raised-background-blue: #182338;
}

/* Main custom classes */

code {
    background: var(--secondary-background);
    font-family: 'Roboto Mono', Consolas, var(--main-font);
    font-size: 15px;
    font-weight: 400;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    color:var(--main-text);
    line-height: 26px;
    transition: 0.2s ease-in-out;
    white-space: nowrap;
}
.mc-button {
    background-color: #6F6F6F;
    background: url("mc-button.png");
	background-repeat: repeat;
	background-size: cover;
    background-position: center;
    font-family: 'minecraftia_2020regular', 'Segoe UI', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    padding: 8px 20px 8px 20px;
    border-radius: 0;
    color:white;
    line-height: 32px;
    border: 2px solid black;
    text-shadow: 2px 2px 0px #383838;
}
.dark-mode .mc-button {
    background-color: #383838;
    background: url("d-mc-button.png");
}
.paragraph {
    font-family: var(--main-font);
    font-size: 16px;
    padding: 10px 200px 10px 200px;
    margin: 0;
}
.info {
    padding: 30px 200px 30px 200px;
    background: var(--secondary-background);
    display: flex;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
}
.last-updated {
    font-weight: 500;
    font-size: 16px;
    font-family: var(--header-font);
}
.options {
    margin-left: auto;
    padding-top: 13px;
    text-align: right;
}
.images {
    font-family: var(--main-font);
    font-size: 16px;
    padding: 10px 200px 10px 200px;
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 15px;
    justify-items: middle;
    transition: 0.2s ease-in-out;
}
.images .imgcontainer {
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
}
.imgcontainer img {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: 2px solid var(--button-border);
    transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.project-tiles {
    padding: 10px 200px 10px 200px;
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 15px;
    justify-items: middle;
    transition: 0.2s ease-in-out;
}
.project-tile {
    display: flex;
    background: var(--secondary-background);
    padding: 10px;
    border-radius: 10px;
    color: var(--main-text);
    transition: 0.2s ease-in-out;
}
.project-tilebadge {
    vertical-align: center;
    display: flex;
    padding: 10px;
    background: var(--main-background);
    border-radius: 50%;
    margin: 10px;
    height: 32px;
    transition: 0.2s ease-in-out;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
}
.dark-mode .project-tilebadge {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
}
.project-tilebadge i {
    font-size: 32px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 32px;
    height: 32px;
    padding-bottom: 0;
    transition: 0.2s ease-in-out;
}
.project-tilehead {
    font-family: var(--header-font);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.project-tiledesc {
    margin: 0;
    padding: 0;
}
li img {
    margin: 5px 40px 5px 40px;
    border-radius: 5px;
    border: 2px solid black;
}
.pardivider {
    margin: 10px 200px;
    transition: 0.2s ease-in-out;
}
.pardivider hr {
    border: solid 1px var(--button-border);
    transition: 0.2s ease-in-out;
}
.parhead {
    font-family: var(--header-font);
    font-size: 20px;
    padding: 0;
    color: var(--main-blue);
    transition: 0.2s ease-in-out;
    margin: 15px 200px 0 200px;
}
.dark-mode .parhead {
    color: var(--white-text);
}
.parhead a {
    font-family: 'Poppins', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--main-text);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.dark-mode .parhead a {
    color: var(--white-text);
}
.parhead a:hover {
    text-decoration: none;
    border-bottom: 2px solid currentColor;
}
.parhead i {
    margin-left: 10px;
    margin-right: 10px;
}
.project-tooltip {
    background-color: rgba(0,0,0,.5);
    text-align: center;
    border-radius: 5px;
    padding: 6px 10px;
    z-index: 1;
    transition: 0.2s ease-in-out;
    backdrop-filter: saturate(180%) blur(10px);
    color: var(--white-text);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    cursor: default;
}
.dark-mode .project-tooltip {
    background: var(--white-text);
}
.parhead .tooltip {
    opacity: 0.0;
    transition: 0.1s ease-in-out;
    padding-left: 0;
    padding-right: 0;
}
.parhead:hover .tooltip {
    opacity: 1.0;
    padding-left: 10px;
    padding-right: 10px;
}
.parhead hr {
    margin-left: 200px;
    margin-right: 200px;
    color: var(--main-blue);
    position: relative;
    top: 8px;
    transition: 0.2s ease-in-out;
}
.dark-mode .parhead hr {
    color: var(--white-text);
}
.paragraph {
    transition: 0.2s ease-in-out;
}
.paragraph p {
    margin: 0 0 10px 0;
    padding: 0;
    transition: 0.2s ease-in-out;
}
.tilehead .tooltip {
    opacity: 0.0;
    transition: 0.1s ease-in-out;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
}
.tilehead:hover .tooltip {
    opacity: 1.0;
    padding-left: 10px;
    padding-right: 10px;
}
.version .tooltip {
    opacity: 0.0;
    transition: 0.1s ease-in-out;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
}
.version:hover .tooltip {
    opacity: 1.0;
    padding-left: 10px;
    padding-right: 10px;
}
.version {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 10px 0;
    color: var(--main-blue);
    transition: 0.2s ease-in-out;
    cursor: default;
}
.optional-update {
    color: var(--optional);
}
.dark-mode .version {
    color: var(--white-text);
}
.paragraph ol {
    list-style: none;
    counter-reset: li;
    padding: 0;
    margin: 10px 0 10px 0;
    transition: 0.2s ease-in-out;
}
.paragraph ol li::before {
    content: counter(li);
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
    color: var(--main-blue);
    font-family: 'Poppins', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}
.dark-mode .paragraph ol li::before {
    color: var(--white-text);
}
.paragraph ol li {
    counter-increment: li;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
}
.paragraph ul li::before {
    content: "•";
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
    color:var(--main-blue);
    font-family: 'Poppins', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
    transition: 0.2s ease-in-out;
}
.dark-mode .paragraph ul li::before {
    color: var(--white-text);
}
.paragraph ul li {
    counter-increment: li;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: 0.2s ease-in-out;
}
.paragraph ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 10px 0;
    transition: 0.2s ease-in-out;
}
.sectiondesc {
    font-size: 16px;
    margin: 0;
    font-family: var(--main-font);
}
.section {
    text-align: center;
    padding: 30px 30px 30px 30px;
}
.section .big2,.sectiondesc {
    padding: 3px 0 0 0;
    margin: 0;
}
.navlink i {
    font-style: normal;
}
.navlink .fas {
    font-size: 20px;
}
.dropdown-header {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    padding: 6px;
    color: var(--secondary-blue);
    background: var(--background-blue);
    cursor: default;
}

/* Website compatability (lower resolutions) */

@media (max-width: 1600px) {
    .date {
        width: 700px;
    }
}
@media (max-width: 1500px) {
    .paragraph {
        padding: 10px 100px 10px 100px;
    }
    .parhead hr {
        margin-left: 100px;
        margin-right: 100px;
    }
    .parhead {
        margin-left: 100px;
        margin-right: 20px;
    }
    .pardivider {
        margin-left: 100px;
        margin-right: 100px;
    }
    .images {
        padding: 10px 100px 10px 100px;
    }
    .project-tiles {
        padding: 10px 100px 10px 100px;
    }
    .info {
        padding: 30px 100px 30px 100px;
    }
}
@media (max-width: 1250px) {
    .date {
        width: 600px;
    }
}
@media (max-width: 1000px) {
    .paragraph {
        padding: 10px 50px 10px 50px;
    }
    .parhead hr {
        margin-left: 50px;
        margin-right: 50px;
    }
    .parhead {
        margin-left: 50px;
        margin-right: 20px;
    }
    .pardivider {
        margin-left: 50px;
        margin-right: 50px;
    }
    .images {
        padding: 10px 50px 10px 50px;
    }
    .project-tiles {
        padding: 10px 50px 10px 50px;
    }
    .info {
        padding: 30px 50px 30px 50px;
        display: grid;
    }
    .date {
        padding: 10px;
        width: auto;
    }
    .options {
        margin-top: 10px;
        text-align: right;
    }
}
@media (max-width: 700px) {
    .paragraph {
        padding: 10px;
    }
    .parhead hr {
        margin-left: 10px;
        margin-right: 10px;
    }
    .parhead {
        margin-left: 10px;
        margin-right: 10px;
    }
    .pardivider {
        margin-left: 10px;
        margin-right: 10px;
    }
    .images {
        padding: 10px;
    }
    .tiles {
        padding: 10px;
    }
}
@media (max-width: 640px) {
    .images {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 15px;
    }
    .project-tiles {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 15px;
    }
}
@media (max-width: 500px) {
    .info {
        text-align: center;
    }
}
@media (max-width: 410px) {
    .project-tooltip {
        width: 20px;
    }
    .project-tooltip i {
        margin-left: 5px;
        margin-right: 5px;
    }
}