
/* plexion.online 18.01.2021 */

/* Based off of /help page */

/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face {
    font-family: 'minecraftia_2020regular';
    src: url('minecraftia-2020-webfont.woff2') format('woff2'),
         url('minecraftia-2020-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Global style colours */

:root {
    --main-blue: #003BFF;
    --secondary-blue: #0035E5;
    --main-background: white;
    --secondary-background: #F4F4F4;
    --main-text: #141414;
    --white-text: white;
    --main-font: 'Inter', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    --header-font: 'Poppins', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    --button-border: #E2E2E2;
}
.dark-mode {
    --main-background: #16161C;
    --secondary-background: #1C1C23;
    --main-text: white;
    --white-text: white;
    --button-border: #1D1D2B;
    --main-blue: #0061FF;
    --secondary-blue: #004BEF;
}
.dark-mode .button:hover {
    filter: brightness(110%);
}

/* Remove mobile-specific sections */

.header-mobile {
    display: none;
}
.navigation #hamburgertoggle {
    display: none;
}
.navigation .navmob {
    display: none;
}
.hamburger {
    display: none;
}
#category_view {
    display: none;
}
.links-mobile {
    display: none;
}
.project br {
    display: none;
}
.btnsep {
    display: none;
}
.navlink .fas {
    display: none;
}

/* Define key html variables */

html {
    scroll-behavior: smooth;
}
html body {
    margin: 0;
}

/* Main website fonts etc. */

body {
    font-family: var(--main-font);
    margin: 0;
    transition: 0.2s ease-in-out;
    background: var(--main-background);
    color: var(--main-text);
    overflow-x: hidden;
    box-sizing: border-box;
}
a {
    text-decoration: underline;
    color: var(--main-text);
    font-weight: normal;
    transition: 0.1s ease-in-out;
}
a i {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}
a:hover {
    font-weight: 600;
    color: var(--main-blue);
    /*text-shadow: -2.5px 2.5px 0px#003BFF;*/
}
::select {
    background: var(--secondary-blue);
    color: white;
}
::-moz-selection {
    background: var(--secondary-blue);
    color: white;
}
strong {
    font-weight: 500;
}

/* Main custom classes */

code {
    background: var(--secondary-background);
    font-family: 'Roboto Mono', Consolas, var(--main-font);
    font-size: 15px;
    font-weight: 400;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    color:var(--main-text);
    line-height: 26px;
    transition: 0.2s ease-in-out;
}
.mc-button {
    background-color: #6F6F6F;
    background: url("mc-button.png");
	background-repeat: repeat;
	background-size: cover;
    background-position: center;
    font-family: 'minecraftia_2020regular', 'Segoe UI', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    padding: 8px 20px 8px 20px;
    border-radius: 0;
    color:white;
    line-height: 32px;
    border: 2px solid black;
    text-shadow: 2px 2px 0px #383838;
}
.dark-mode .mc-button {
    background-color: #383838;
    background: url("d-mc-button.png");
}
.big {
    font-weight: 600;
    font-size: 32px;
    font-family: var(--header-font);
    margin: 0;
    padding: 0;
}
.big1 {
    font-weight: 600;
    font-size: 48px;
    font-family: var(--header-font);
    margin: 0;
    padding: 0;
}
.big2 {
    font-weight: 600;
    font-size: 26px;
    font-family: var(--header-font);
    margin: 0;
    padding: 0;
}
.big3 {
    font-weight: 500;
    font-size: 20px;
    margin: 5px 0 5px 0;
    font-family: var(--header-font);
    margin: 0;
    padding: 0;
}
.desc {
    font-size: 16px;
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}
.paragraph {
    font-family: var(--main-font);
    font-size: 16px;
    padding: 10px 200px 10px 200px;
    margin: 0;
}
.options {
    padding: 30px 200px 30px 200px;
    text-align: right;
}
.images {
    font-family: var(--main-font);
    font-size: 16px;
    padding: 10px 200px 10px 200px;
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 15px;
    justify-items: middle;
}
.images .imgcontainer {
    margin: 0;
    padding: 0;
}
.imgcontainer img {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: 2px solid var(--button-border);
    transition: 0.2s ease-in-out;
}
.tiles {
    padding: 10px 200px 10px 200px;
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 15px;
    justify-items: middle;
    transition: 0.2s ease-in-out;
}
.tile {
    display: flex;
    background: var(--secondary-background);
    padding: 10px;
    border-radius: 10px;
    color: var(--main-text);
    transition: 0.2s ease-in-out;
}
.tilebadge {
    vertical-align: center;
    display: flex;
    padding: 10px;
    background: var(--main-background);
    border-radius: 50%;
    margin: 10px;
    height: 28px;
    transition: 0.2s ease-in-out;
    text-align: center;
}
.tilebadge i {
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 28px;
    height: 28px;
}
.tilehead {
    font-family: 'Poppins', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.tiledesc {
    margin: 0;
    padding: 0;
}
li img {
    margin: 5px 40px 5px 40px;
    border-radius: 5px;
    border: 2px solid black;
}
.parhead {
    font-family: 'Poppins', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: var(--main-blue);
    transition: 0.2s ease-in-out;
}
.dark-mode .parhead {
    color: var(--white-text);
}
.parhead a {
    margin: 0 20px 0 200px;
    padding: 20px 0 20px 0;
    font-family: 'Poppins', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--main-blue);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.dark-mode .parhead a {
    color: var(--white-text);
}
.parhead a:hover {
    text-decoration: none;
    padding-left: 10px;
}
.parhead i {
    margin-left: 10px;
    margin-right: 10px;
}
.parhead .tooltip {
    opacity: 0.0;
    transition: 0.1s ease-in-out;
    padding-left: 0;
    padding-right: 0;
}
.parhead:hover .tooltip {
    opacity: 1.0;
    padding-left: 10px;
    padding-right: 10px;
}
.parhead hr {
    margin-left: 200px;
    margin-right: 200px;
    color: var(--main-blue);
    position: relative;
    top: 8px;
    transition: 0.2s ease-in-out;
}
.dark-mode .parhead hr {
    color: var(--white-text);
}
.tooltip {
    font-size: 14px;
    font-style: normal;
    padding: 3px 6px 3px 6px;
    background: var(--main-blue);
    color: var(--main-background);
}
.dark-mode .tooltip {
    background: var(--white-text);
}
.paragraph p {
    margin: 10px 0 10px 0;
    padding: 0;
}
.version .tooltip {
    opacity: 0.0;
    transition: 0.1s ease-in-out;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
}
.version:hover .tooltip {
    opacity: 1.0;
    padding-left: 10px;
    padding-right: 10px;
}
.version {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 10px 0;
    color: var(--main-blue);
    transition: 0.2s ease-in-out;
}
.dark-mode .version {
    color: var(--white-text);
}
.paragraph ol {
    list-style: none;
    counter-reset: li;
    padding: 0;
    margin: 10px 0 10px 0;
    transition: 0.2s ease-in-out;
}
.paragraph ol li::before {
    content: counter(li);
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
    color: var(--main-blue);
    font-family: 'Poppins', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}
.dark-mode .paragraph ol li::before {
    color: var(--white-text);
}
.paragraph ol li {
    counter-increment: li;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
}
.paragraph ul li::before {
    content: "•";
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
    color:var(--main-blue);
    font-family: 'Poppins', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
    transition: 0.2s ease-in-out;
}
.dark-mode .paragraph ul li::before {
    color: var(--white-text);
}
.paragraph ul li {
    counter-increment: li;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: 0.2s ease-in-out;
}
.paragraph ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 10px 0;
    transition: 0.2s ease-in-out;
}
.sectiondesc {
    font-size: 18px;
    margin: 0;
}
.head {
    text-decoration: none;
    font-weight: 400;
    font-size: 26px;
    font-family: 'Poppins', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    transition: 0.2s ease-in-out;
    margin: 0;
}
.head:hover {
    text-decoration: underline;
}
.headlink {
    font-weight: 400;
    transition: 0.2s ease-in-out;
}
.headlink:hover {
    font-weight: 500;
}
.section {
    text-align: center;
    padding: 30px 30px 30px 30px;
}
.section .big2,.sectiondesc {
    padding: 3px 0 0 0;
    margin: 0;
}
.navigation {
    text-align: center;
    align-items: center;
}
.navlink i {
    font-style: normal;
}
.navlink .fas {
    font-size: 20px;
}

#topic {
    padding: 120px 200px 120px 30px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    color: white;
}
#topic .button {
    text-shadow: none;
}
#topic .big2 {
    text-shadow: -2.5px 2.5px 0px var(--main-blue);
}

iframe {
    margin: 0;
    padding: 0;
}
.watch {
    position: relative;
    width: 100%;
    /*padding-bottom: 56.25%;*/
    border-radius: 0;
}
.watchdiv {
    margin-left: 25%;
    margin-right: 25%;
}
.watch iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.watch2 {
    position: relative;
    padding-bottom: 56.25%;
}
.watch2 iframe html body {
    margin: 0;
}
.watch2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    border: 0 solid;
    transform: scale(1.0);
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: 2px solid var(--button-border);
}
.watch2 iframe:hover {
    filter: brightness(110%);
}

/* Buttons */

.button {
    transition: 0.1s ease-in-out;
    border-radius: 5px;
    padding: 12px 30px 12px 30px;
    background: var(--main-background);
    color: var(--main-text);
    text-decoration: none;
    font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid var(--button-border);
    font-weight: 500;
    transform: scale(1.0);
    filter: brightness(100%);
    margin: 20px 10px 20px 10px;
    line-height: 60px;
}
.button a {
    margin-bottom: 100px;
}
.button i {
    margin-left: 20px;
    font-size: 16px;
}
.isep {
    margin-left: 10px;
    margin-right: 10px;
}
.button:hover {
    /*
    padding: 12px 50px 12px 50px;
    background: white;
    border: 2px solid;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);*/
    transform: scale(1.025);
    filter: brightness(95%);
    color: var(--main-text);
    font-weight: 500;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    line-height: 49px;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 5;
    width: 100%;
}
.dropdown-content ul {
    list-style: none;
    margin: 0 10px 0 10px;
    padding: 0;
    background: var(--secondary-blue);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    text-align: center;
}
.dropdown-content a {
    font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
}
.dropdown-content a:hover {
    background: var(--main-blue);
}
.important {
    background: var(--main-blue);
    color: var(--white-text);
    border: 2px solid var(--main-blue);
}
.important:hover {
    color: var(--white-text);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
}
.dropdown-content a {
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.buttoni {
    transition: 0.15s ease-in-out;
    border-radius: 5px;
    padding: 12px 18px 12px 18px;
    background:var(--secondary-background);
    text-decoration: none;
    font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 200px;
    border: 0px white;
}
.buttoni:hover {
    padding: 12px 30px 12px 30px;
    background: white;
    border-bottom-left-radius: 0;
    border: 2px solid;
    box-shadow: -2.5px 2.5px 0px;
}
.buttoni i {
    position: relative;
    top: 2px;
    font-size: 20px;
}

/* Website header */

header {
    padding: 60px;
    margin-bottom: 30px;
    font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 64px;
    line-height: 30px;
    background: url("banners/TransitionBanner.png");
	background-repeat: no-repeat, repeat;
	background-size: 100%;
    background-position: center;
    transition: 0.2s ease-in-out;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
header a {
    text-decoration: none;
    color: #141414;
}
.header-popout {
    background: var(--secondary-background);
    color: var(--main-text);
    font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
    transition: 0.2s ease-in-out;
    position: sticky;
    top: 0;
    z-index: 100;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    /*display: none;*/
    padding: 12px;
}
.inner-header {
    display: flex;
}
.logo {
    width: 25%;
}
.logo2 {
    width: 25%;
}
.logo a {
    text-decoration: none;
}
.navigation {
    width: 100%;
}
.button-toggle {
    padding: 16px 20px 15px 20px;
    text-decoration: none;
    background: var(--secondary-background);
}
.button-toggle:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f186";
    font-weight: 900;
}
.dark-mode .button-toggle:before {
    content: "\f185";
}
.navigation a {
    text-decoration: none;
    padding: 13px 14px 13px 14px;
    margin: 0 10px 0 10px;
    transition: 0.2s ease-in-out;
    height: 100%;
    font-weight: 500;
    font-size: 18px;
}
.navigation a:hover {
    background: var(--main-blue);
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}
.navigation span {
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.header-mobile {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-position: top;
    padding-left: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.header-mobile a {
    text-decoration: none;
    color: var(--main-text);
}
.header-mobile i {
    padding-left: 5px;
    font-size: 24px;
}
.nav {
    padding-right: 10px;
    transition: 0.1s;
}
.nav i {
    font-size: 16px;
    padding-left: 5px;
}
.nav:hover {
    font-weight: 600;
    color: white;
    text-shadow: -2.5px 2.5px 0px var(--main-blue);
    /* text-shadow: -2px 2px 0px rgba(0, 59, 255, 1); */
}

/* Extras */

.moment .head {
    padding: 10px 0 10px 0;
}
.video iframe {
    border-radius: 5px;
    transition: 0.1s ease-in-out;
    filter: brightness(100%);
    transform: scale(1.0);
    border: 0 solid;
}
.video iframe:hover {
    filter: brightness(110%);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    border: 3px solid;
    transform: scale(1.015);
}

/* Hamburger menu */

#hamburgertoggle {
    transition: 0.3s ease-in-out;
    position: relative;
    top: 4px;
}
.hamburger {
    transition: 0.1s ease-in-out;
    padding-left: 30px;
    font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
.hamburger ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.hamburger a {
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.1s ease-in-out;
}
.hamburger a:hover {
    border-bottom: 3px solid var(--main-blue);
    padding-left: 25px;
    padding-right: 25px;
}
.hamburger li {
    padding: 10px;
    transition: 0.1s ease-in-out;
}
#category_view {
    margin-bottom: 20px;
}

/* Website footer */

.links {
    padding-bottom: 20px;
}
footer {
    font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
}
footer hr {
    margin: 20px 10% 20px 10%;
    border: 1px solid var(--main-text);
    transition: 0.2s ease-in-out;
}
footer i {
    margin-right: 5px;
    -webkit-transition: -webkit-transform .4s ease-in-out;
          transition:         transform .4s ease-in-out;
}
footer:hover .fa-sync-alt {
    -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
footer span {
    padding-left: 10px;
    padding-right: 10px;
}

/* MINECRAFT LIVE COUNTDOWN */

.countdown {
    font-size: 400%;
}
.event {
    height: calc(100vh);
}

/* Channel history (#timeline) */

.timeline {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 10px;
    transition: 0.3s;
    margin: 10px;
}
.moment {
    background: var(--secondary-background);
    color: var(--main-text);
    padding: 70px 30px 70px 30px;
    border-radius: 10px;
    transition: 0.3s;
    filter: brightness(100%);
    justify-self: stretch;
    text-align: center;
}
.videofeed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    transition: 0.3s;
    margin: 10px;
}
.video {
    background: var(--secondary-background);
    color: var(--main-text);
    padding: 0;
    border-radius: 0;
    transition: 0.3s;
    filter: brightness(100%);
    justify-self: stretch;
}

/* Website projects */

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 15px;
    transition: 0.3s;
    margin: 15px;
}
.project {
    background: black;
    color: white;
    border: 0px solid white;
    padding: 70px 30px 70px 30px;
    border-radius: 6px;
    transition: 0.15s ease-in-out;
    filter: brightness(100%);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    height: 230px;
    transform: scale(1.0);
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
     -ms-transition: all 0.15s ease-out;
      -o-transition: all 0.15s ease-out;
         transition: all 0.15s ease-out;
}
.project p {
    padding: 5px 0 0 0;
    margin: 5px 0 5px 0;
    color: white;
}
.project:hover {
    filter: brightness(110%);
    /*padding: 80px 30px 80px 30px;*/
    /*-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);*/
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    border: 3px solid;
    cursor: pointer;
    transform: scale(1.025);
}
.project a {
    color: white;
    line-height: 24px;
    vertical-align: middle;
}
.project .pfp {
    width: 40px;
    margin: 0 5px 0 0;
    padding: 0;
    vertical-align: middle;
    border-radius: 50%;
}
.project .square {
    border-radius: 25%;
}
.section .pfp {
    width: 32px;
    padding: 0;
    border-radius: 50%;
    position: relative;
    top: 5px;
}
.unsupported {
    position: relative;
    top: 3px;
    background:#291700;
    font-size: 18px;
    color: #FF9300;
    padding: 8px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Website colours */

.help {
    background: url("banners/help.png");
	background-repeat: no-repeat, repeat;
	background-size: 100%;
    background-position: center;
}
#voidrising {
    background: url("../tiles/voidrising.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
    color: white;
}
#spyglass {
    background: url("../tiles/spyglass.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
    color: white;
}
.a {
    background: url("tiles/error.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
    background-position: center;
    color: #FE0000;
}

/* Website compatability (lower resolutions) */

@media (max-width: 1500px) {
    .watchdiv {
        margin-left: 15%;
        margin-right: 15%;
    }
    .paragraph {
        padding: 10px 100px 10px 100px;
    }
    .parhead hr {
        margin-left: 100px;
        margin-right: 100px;
    }
    .parhead a {
        margin-left: 100px;
        margin-right: 20px;
    }
    .images {
        padding: 10px 100px 10px 100px;
    }
    .tiles {
        padding: 10px 100px 10px 100px;
    }
    .options {
        padding: 30px 100px 30px 100px;
    }
}
@media (max-width: 1000px) {
    .paragraph {
        padding: 10px 50px 10px 50px;
    }
    .parhead hr {
        margin-left: 50px;
        margin-right: 50px;
    }
    .parhead a {
        margin-left: 50px;
        margin-right: 20px;
    }
    .images {
        padding: 10px 50px 10px 50px;
    }
    .tiles {
        padding: 10px 50px 10px 50px;
    }
    .options {
        padding: 30px 50px 30px 50px;
    }
}
@media (max-width: 700px) {
    .logo {
        display: none;
    }
    .logo2 {
        display: none;
    }
    .navigation {
        width: 100%;
    }
    .logo a {
        text-decoration: none;
    }
    .navigation #hamburgertoggle {
        display: inline;
    }
    .paragraph {
        padding: 10px;
    }
    .parhead hr {
        margin-left: 10px;
        margin-right: 10px;
    }
    .parhead a {
        margin-left: 10px;
        margin-right: 10px;
    }
    .images {
        padding: 10px;
    }
    .tiles {
        padding: 10px;
    }
    .options {
        padding: 30px 10px 30px 10px;
    }
}
@media (max-width: 640px) {
    .watchdiv {
        margin-left: 5%;
        margin-right: 5%;
    }
    .video iframe {
        width: 100%;
    }
    .header-mobile {
        display: inherit;
    }
    .hamburger {
        padding-left: 0;
    }
    .hamburger ul {
        text-align: center;
    }
    .btnsep {
        display: block;
        padding: 0;
        margin: 0;
    }
    .btnsep::before {
        white-space: pre;
        content: ' ';
    }
    .button {
        width: 300px;
    }
    .images {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 15px;
    }
    .tiles {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 15px;
    }
}
@media (max-width: 500px) {
    .watchdiv {
        margin-left: 0;
        margin-right: 0;
    }
    .options {
        text-align: center;
    }
    .navi {
        display: none;
    }
    .navlink .fas {
        display: inherit;
    }
}
@media (max-width: 410px) {
    .nav {
        font-size: 16px;
    }
    .big2 {
        font-size: 20px;
    }
    .watch2 {
        position: relative;
        padding-bottom: 56.25%;
        margin-bottom: 5px;
        width: 100%;
    }
    .watch2 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .navigation a:hover {
        padding-left: 20px;
        padding-right: 20px;
    }
    .tooltip {
        width: 20px;
    }
    .tooltip i {
        margin-left: 5px;
        margin-right: 5px;
    }
}